
{{> book_leave_modal
  container_id='book_leave_modal'
  leave_modal_form_action='/calendar/bookleave/'
}}

<footer class="footer custom-footer">
  <p>
    <span class="pull-left">myE-Leave by wulfboy_95<br>This project is a derivative of <a href="http://timeoff.management">TimeOff.management</a>
    </span>
    <span class="pull-right">
      <a href="https://github.com/wulfboy-95/myE-Leave"><i class="fa fa-github fa-lg"></i></a>
    </span>
  </p>
</footer>
